p{margin:20px 0px 20px 0px;}

[class*='fricol-']{
 background-color: #fff;
    border-radius: 3px;
    border: 2px solid #6fd8a2;
  
   
}

.no-style{      
    background-color: transparent;
     border: none;
    text-align: center;}

.logo {

    margin-top:11%;
}

.fricko-cream{
    
    width:200px;
    
}

.main-panel {
 background-image: url(bg.jpg);
    background-repeat: repeat;
}

.scroll-down{
    font-size: 1.3em;
    color:#fff;
    display: block;
    position: absolute;
    bottom:20px;
    width:100%;
    text-align: center;
    -webkit-animation: down 1.2s infinite ease-in-out;
            animation: down 1.2s infinite ease-in-out;
    opacity:1;
    
}

@-keyframes down {
    0%{bottom:20px;}
    50%{bottom:0px;}
    100%{bottom:20px;}
    
}

@-webkit-keyframes down {
    0%{bottom:20px;}
    50%{bottom:0px;}
    100%{bottom:20px;}
    
}

.hide{opacity:0;}

.header {
    color:#fff;
}

.grid-doc-1{
 background-color: #6fd8a2;  
    text-align: center;
}

.grid-wrap{
    padding-top:5%;
    padding-bottom:10%;
    
}

.grid-col-des{padding-top:5%;color:#fff;}


.points{
    padding-top:3%;

    
}


.doc-panel{
    background-image: 
    background-repeat: repeat;
    padding-bottom:10%;    
}

.typography{
    padding-top:5%;

    
}

.lorem{width:80%;padding-top:15%;margin:0 auto;}


.hide-row{display: block}

@media(max-width:767px){
    
.header h1 {font-size: 1.3em;}    
    
  .hide-row{display:none}  
    
.fricko-cream{
    width:150px;
}    

.pointcol{
    margin-top:10%;
}
    
.lorem{padding-top:5%;}    
    
}



.footer a { color:#de603a;}

.footer {
   border-top:1px solid #d6d6d6;
    width:100%;
    height:150px;
    text-align: center;
    font-size: 0.8em;
   
}

.footer-col{padding-top:15px;}

.download{padding-top:8%;}
.download a{color:#535353;font-size: 1.5em;}
.download a:hover{text-decoration: underline;}
